{{ define "main" }}
  {{ $e := (index $.Site.Data.events (index (split (.Permalink | relURL) "/") 2))}}
  <div class="row">
      <!-- enclosing div -->
      <div class="col-md-12 content-text">
          <!-- main content -->
          {{ if eq .File.BaseFileName "welcome"}}
            {{- partial "welcome.html" . -}}
          {{ else }}
            <h1>devopsdays {{$e.city}} - {{.Title}}</h1>
            {{ .Content }}
          {{ end }}
          <br />
          <!-- need to add else statement for the rest of the content types -->
          {{ partial "sponsors.html" . }}
      </div>
  </div>
{{ end }}
