{{ define "main" }}

<div class="row">
    <!-- enclosing div -->
    <div class="col-md-12">
        <!-- main content -->
        {{ if eq .File.BaseFileName "welcome"}}
          {{- partial "welcome.html" . -}}
        {{ end }}
        <!-- need to add else statement for the rest of the content types -->

        <div class="row">
            <!--first sponsor row-->
            <div class="col-md-12">
                <h4>Gold Sponsors</h4><i>Become a Gold Sponsor!</i>

                <div class="row">
                    <div class="col-md-3">
                        <img src="/img/sponsors/chef.png" />
                    </div>
                    <div class="col-md-3">
                        <img src="/img/sponsors/chef.png" />
                    </div>
                    <div class="col-md-3">
                        <img src="/img/sponsors/chef.png" />
                    </div>
                    <div class="col-md-3">
                        <img src="/img/sponsors/chef.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class = "row">
          <div class = "col-md-12">
            <h4>Speakers</h4>
          </div>
        </div>
        <div class = "row">
          <div class = "col-md-3">
            <img src="/events/2016-chicago/speakers/adam-jacob-tn.jpg" class = "img-responsive" /><br />
            <b>Adam Jacob</b><br />
            <i>The Evolution of Automation</i>
          </div>
          <div class = "col-md-3">
            <img src="/events/2016-chicago/speakers/adam-jacob-tn.jpg" class = "img-responsive" /><br />
            <b>Adam Jacob</b><br />
            <i>The Evolution of Automation</i>
          </div>
          <div class = "col-md-3">
            <img src="/events/2016-chicago/speakers/adam-jacob-tn.jpg" class = "img-responsive" /><br />
            <b>Adam Jacob</b><br />
            <i>The Evolution of Automation</i>
          </div>
          <div class = "col-md-3">
            <img src="/events/2016-chicago/speakers/adam-jacob-tn.jpg" class = "img-responsive" /><br />
            <b>Adam Jacob</b><br />
            <i>The Evolution of Automation</i>
          </div>
        </div>
        <div class="row">
            <!--first sponsor row-->
            <div class="col-md-12">
                <h4>Silver Sponsors</h4><i>Become a Silver Sponsor!</i>

                <div class="row">
                    <div class="col-md-3">
                        <img src="/img/sponsors/chef.png" />
                    </div>
                    <div class="col-md-3">
                        <img src="/img/sponsors/chef.png" />
                    </div>
                    <div class="col-md-3">
                        <img src="/img/sponsors/chef.png" />
                    </div>
                    <div class="col-md-3">
                        <img src="/img/sponsors/chef.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class = "row">
          <div class = "col-md-3">
            <img src="/events/2016-chicago/speakers/adam-jacob-tn.jpg" class = "img-responsive" /><br />
            <b>Adam Jacob</b><br />
            <i>The Evolution of Automation</i>
          </div>
          <div class = "col-md-3">
            <img src="/events/2016-chicago/speakers/adam-jacob-tn.jpg" class = "img-responsive" /><br />
            <b>Adam Jacob</b><br />
            <i>The Evolution of Automation</i>
          </div>
          <div class = "col-md-3">
            <img src="/events/2016-chicago/speakers/adam-jacob-tn.jpg" class = "img-responsive" /><br />
            <b>Adam Jacob</b><br />
            <i>The Evolution of Automation</i>
          </div>
          <div class = "col-md-3">
            <img src="/events/2016-chicago/speakers/adam-jacob-tn.jpg" class = "img-responsive" /><br />
            <b>Adam Jacob</b><br />
            <i>The Evolution of Automation</i>
          </div>
        </div>
        <div class="row">
            <!--first sponsor row-->
            <div class="col-md-12">
                <h4>Bronze Sponsors</h4><i>Become a Bronze Sponsor!</i>

                <div class="row">
                    <div class="col-md-3">
                        <img src="/img/sponsors/chef.png" />
                    </div>
                    <div class="col-md-3">
                        <img src="/img/sponsors/chef.png" />
                    </div>
                    <div class="col-md-3">
                        <img src="/img/sponsors/chef.png" />
                    </div>
                    <div class="col-md-3">
                        <img src="/img/sponsors/chef.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class = "row">
          <div class = "col-md-3">
            <img src="/events/2016-chicago/speakers/adam-jacob-tn.jpg" class = "img-responsive" /><br />
            <b>Adam Jacob</b><br />
            <i>The Evolution of Automation</i>
          </div>
          <div class = "col-md-3">
            <img src="/events/2016-chicago/speakers/adam-jacob-tn.jpg" class = "img-responsive" /><br />
            <b>Adam Jacob</b><br />
            <i>The Evolution of Automation</i>
          </div>
          <div class = "col-md-3">
            <img src="/events/2016-chicago/speakers/adam-jacob-tn.jpg" class = "img-responsive" /><br />
            <b>Adam Jacob</b><br />
            <i>The Evolution of Automation</i>
          </div>
          <div class = "col-md-3">
            <img src="/events/2016-chicago/speakers/adam-jacob-tn.jpg" class = "img-responsive" /><br />
            <b>Adam Jacob</b><br />
            <i>The Evolution of Automation</i>
          </div>
        </div>
        <div class="row">
            <!--first sponsor row-->
            <div class="col-md-12">
                <h4>Community Sponsors</h4><i>Become a Community Sponsor!</i>

                <div class="row">
                    <div class="col-md-3">
                        <img src="/img/sponsors/chef.png" />
                    </div>
                    <div class="col-md-3">
                        <img src="/img/sponsors/chef.png" />
                    </div>
                    <div class="col-md-3">
                        <img src="/img/sponsors/chef.png" />
                    </div>
                    <div class="col-md-3">
                        <img src="/img/sponsors/chef.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- close the content -->

</div>
<!-- whole big thing -->


{{ end }}
