{{ define "main" }}

{{/* site data query copypasta */}}
{{ $path := split $.Source.File.Path .Site.Params.pathseperator }}
{{ $event_slug := index $path 1 }}
{{ $e :=  (index $.Site.Data.events $event_slug) }}
{{/* end site data query */}}

<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Welcome</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
    <ul class="nav navbar-nav">
      <li><a href="/events/{{ $event_slug }}/program">Program</a></li>
      <li><a href="/events/{{ $event_slug }}/register">Register</a></li>
      <li><a href="/events/{{ $event_slug }}/speakers">Speakers</a></li>
      <li><a href="/events/{{ $event_slug }}/sponsor">Sponsor</a></li>
      <li><a href="/events/{{ $event_slug }}/volunteer">Volunteer</a></li>
      <li><a href="/events/{{ $event_slug }}/location">Location</a></li>
      <li><a href="/events/{{ $event_slug }}/contact">Contact</a></li>
      <li><a href="/events/{{ $event_slug }}/conduct">Conduct</a></li>

    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<div class="row">
    <!-- enclosing div -->
    <div class="col-md-12">
        <!-- main content -->
        {{ if eq .File.BaseFileName "welcome"}}
          {{- partial "welcome.html" . -}}
        {{ end }}
        <!-- need to add else statement for the rest of the content types -->
        {{ partial "sponsors.html" . }}


    </div>
    <!-- close the content -->

</div>
<!-- whole big thing -->


{{ end }}
