{{ define "main" }}

{{ $path := split $.Source.File.Path .Site.Params.pathseperator }}
{{ $event_slug := index $path 1 }}
{{ $e :=  (index $.Site.Data.events $event_slug) }}
{{ $city_slug := substr $e.name 5 }}

<div class = "row">
  <div class = "col-md-8">
    <h2>{{ title .Title }}</h2>

    {{ if isset .Params "youtube" }}
      {{ if ne .Params.youtube "" }}
        <div class="row">
            <div class="col-md-12 youtube-video">
              <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ .Params.youtube }}">
              </iframe>
              </div>
            </div>
          </div>
        {{ end }}
    {{ end }}

    <h3>Talk Abstract</h3>

      <div>
        {{ .Content }}
      </div>
      {{ if isset .Params "speakerdeck" }}
        {{ if ne .Params.speakerdeck ""}}
          <div>
            <h2>Speakerdeck</h2>
            <a href="{{ .Params.speakerdeck}}" class="embed"></a>
          </div>
        {{ end }}
      {{ end }}

      {{ if isset .Params "slideshare" }}
        {{ if ne .Params.slideshare ""}}
          <div>
            <h2>Slideshare</h2>
            <a href="{{ .Params.slideshare }}" class="embed"></a>
          </div>
        {{ end }}
      {{ end }}

      {{ if isset .Params "slides" }}
        {{ if ne .Params.slides ""}}
        <div>
          <h2>Slides</h2>
          <a href = "{{ .Params.slides }}">Link to Slides</a>
        </div>
        {{ end }}
      {{ end }}

  </div>
<div class = "col-md-4">
  <h2>Bio</h2>

  {{ range .Params.speakers }}
    {{ $.Scratch.Set "speakername" . }}
    {{- range where $.Site.Pages "Type" "speaker" -}}
      {{- $talk_path := split .File.Path .Site.Params.pathseperator -}}
      {{- $talk_slug := index $talk_path 1 -}}
      {{- if eq $talk_slug $event_slug -}}
        {{ if eq .File.BaseFileName ($.Scratch.Get "speakername") }}
        {{ if isset .Params "image" }}
          {{ if ne .Params.image "" }}
            <img src = "/events/{{ $event_slug }}/speakers/{{ .Params.image }}" class="img-responsive" /><br />
          {{ end }}
          {{ else }}
            <img src = "/img/speaker-default.png" class="img-responsive" /><br />
        {{ end }}
          <a href = "/events/{{ $event_slug }}/speakers/{{ $.Scratch.Get "speakername" }}"><b>{{ .Title }}</a></b><br />
          {{ .Content }}
        {{ end }}

      {{- end -}} <!-- end if eq $talk_slug $event_slug -->
    {{- end -}} <!-- end range where $.Site.Pages "Type" "speaker" -->
  {{ end }}
</div>
</div>

{{ end }}
