{{ define "main" }}

{{ $path := split $.Source.File.Path .Site.Params.pathseperator }}
{{ $event_slug := index $path 1 }}
{{ $e :=  (index $.Site.Data.events $event_slug) }}
{{ $city_slug := substr $e.name 5 }}
<br />

<div class = "row">
  <div class = "col-md-12">
    <h2>{{ .Title }}</h2>
  </div>
</div>
<div class = "row">
  <div class = "col-md-6">
    {{ .Content }}
    {{- if isset .Params "pronouns" -}}
      {{- if ne .Params.pronouns "" -}}
        My pronouns are {{ .Params.pronouns }}<br />
      {{- end -}}
    {{- end -}}
    {{- if isset .Params "twitter" -}}
      {{- if ne .Params.twitter "" -}}
        <a href = "https://twitter.com/{{ .Params.twitter }}"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>&nbsp;
      {{- end -}}
    {{- end -}}
    {{- if isset .Params "website" -}}
      {{- if ne .Params.website "" -}}
        <a href = "{{ .Params.website }}"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>&nbsp;
      {{- end -}}
    {{- end -}}
    {{- if isset .Params "facebook" -}}
      {{- if ne .Params.facebook "" -}}
        <a href = "{{ .Params.facebook }}"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>&nbsp;
      {{- end -}}
    {{- end -}}
    {{- if isset .Params "linkedin" -}}
      {{- if ne .Params.linkedin "" -}}
        <a href = "{{ .Params.linkedin }}"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>&nbsp;
      {{- end -}}
    {{- end -}}
  </div>
  <div class = "col-md-6">
    <img src = "/events/{{ $event_slug }}/speakers/{{ .File.BaseFileName }}.png" class="img-responsive" alt = "{{ .Title }}"/>
  </div>
</div>
<div class = "row">
  <div class = "col-md-12">
    <h3>Talks by {{ .Title }}</h3>
    {{ $.Scratch.Set "speaker" .File.BaseFileName }}
    {{- range where $.Site.Pages "Type" "talk" -}}
      {{- $talk_path := split .File.Path .Site.Params.pathseperator -}}
      {{- $talk_slug := index $talk_path 1 -}}
      {{- if eq $talk_slug $event_slug -}}
        <!-- Now we can display stuff! -->
        {{ range .Params.speakers }}
          {{ if eq . ($.Scratch.Get "speaker") }}
            {{ $.Scratch.Set "display" "true" }}
          {{ end }}
        {{ end }}
        {{ if eq ($.Scratch.Get "display") "true" }}
          <a href = "{{ .Permalink }}">{{ .Title }}</a><br />
          {{ $.Scratch.Set "display" "false" }}
        {{ end }}
      {{- end -}} <!-- end if eq $talk_slug $event_slug -->
    {{- end -}} <!-- end range where $.Site.Pages "Type" "speaker" -->
  </div>
</div>

{{ partial "sponsors.html" . }}



{{ end }}
