<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    {{- partial "head.html" . -}}
</head>

<body lang="{{ .Site.Params.Lang }}">

  {{- partial "global_navbar.html" . -}}
  <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 push-md-2">
                <!-- Main Content -->
                {{- block "main" . }} {{- end -}}
            </div>
            <div class="col-md-2 pull-md-8">
                <a href = "/past" class="left-nav-navs">PAST EVENTS</a><br />
                {{- partial "future.html" . -}}
            </div>
        </div>
    </div>

    {{- partial "footer.html" . -}}
    {{- partial "footer_scripts.html" . -}}

</body>

</html>
