{{/* site data query copypasta */}}
{{ $path := split $.Source.File.Path .Site.Params.pathseperator }}
{{ $event_slug := index $path 1 }}
{{ $e :=  (index $.Site.Data.events $event_slug) }}
{{/* end site data query */}}

<nav class="navbar navbar-toggleable-md navbar-light">

  <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#eventNavBar" aria-controls="eventNavBar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <!-- <div class="collapse navbar-collapse event-nav" id="eventNavBar"> -->
    <ul class="navbar-nav mr-auto collapse">
      <li class="nav-item event-navigation"><a class="nav-link" href="/events/{{ $event_slug }}/">{{ $e.city }}</a></li>
      <li class="nav-item event-navigation"><a class="nav-link" href="/events/{{ $event_slug }}/program">Program</a></li>
      <li class="nav-item event-navigation"><a class="nav-link" href="/events/{{ $event_slug }}/register">Register</a></li>
      <li class="nav-item event-navigation"><a class="nav-link" href="/events/{{ $event_slug }}/speakers">Speakers</a></li>
      <li class="nav-item event-navigation"><a class="nav-link" href="/events/{{ $event_slug }}/sponsor">Sponsor</a></li>
      <li class="nav-item event-navigation"><a class="nav-link" href="/events/{{ $event_slug }}/volunteer">Volunteer</a></li>
      <li class="nav-item event-navigation"><a class="nav-link" href="/events/{{ $event_slug }}/location">Location</a></li>
      <li class="nav-item event-navigation"><a class="nav-link" href="/events/{{ $event_slug }}/contact">Contact</a></li>
      <li class="nav-item event-navigation"><a class="nav-link" href="/events/{{ $event_slug }}/conduct">Conduct</a></li>


    </ul>
  <!-- </div> -->
</nav>
