

<nav class="navbar navbar-toggleable-md navbar-light">

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">
  <img src="/img/devopsdays-brain.png" width="30" height="30" class="d-inline-block align-top" alt="">
  DevOpsDays
</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item global-navigation"><a class = "nav-link" href="/contact">Contact</a></li>
      <li class="nav-item global-navigation"><a class = "nav-link" href="/events">Events</a></li>
      <li class="nav-item global-navigation"><a class = "nav-link" href="/blog">Blog</a></li>
      <li class="nav-item global-navigation"><a class = "nav-link" href="/sponsor">Sponsor</a></li>
      <li class="nav-item global-navigation"><a class = "nav-link" href="/speaking">Speaking</a></li>
      <li class="nav-item global-navigation"><a class = "nav-link" href="/organizing">Organizing</a></li>
    </ul>
  </div>
</nav>
