{{ define "main" }}

{{/* site data query copypasta */}}
{{ $path := split $.Source.File.Path .Site.Params.pathseperator }}
{{ $event_slug := index $path 1 }}
{{ $e :=  (index $.Site.Data.events $event_slug) }}
{{/* end site data query */}}

<!-- the main program -->
  <button class="accordion">{{- dateFormat "January 2, 2006" $e.startdate -}}</button>
  <div class="panel">
    <div class = "row">
      <div class = "col-md-4"><!-- first column -->
        <div class = "row">
          <div class = "col-md-6">
            08:00-09:00AM
          </div>
          <div class = "col-md-6">
            Registration, Breakfast, Booths Open
          </div>
        </div>
        <div class = "row">
          <div class = "col-md-6">
            09:00-09:15AM
          </div>
          <div class = "col-md-6">
            Opening Welcome
          </div>
        </div>
        <div class = "row">
          <div class = "col-md-6">
            09:15-09:45AM
          </div>
          <div class = "col-md-6">
            <b>Session 1 Title</b><br />
            <i>Speaker Name</i>
          </div>
        </div>
        <div class = "row">
          <div class = "col-md-6">
            08:00-09:00AM
          </div>
          <div class = "col-md-6">
            Registration, Breakfast, Booths Open
          </div>
        </div>
        <div class = "row">
          <div class = "col-md-6">
            08:00-09:00AM
          </div>
          <div class = "col-md-6">
            Registration, Breakfast, Booths Open
          </div>
        </div>
      </div>
      <div class = "col-md-4">
        <div class = "row">
          <div class = "col-md-6">
            08:00-09:00AM
          </div>
          <div class = "col-md-6">
            Registration, Breakfast, Booths Open
          </div>
        </div>
        <div class = "row">
          <div class = "col-md-6">
            09:00-09:15AM
          </div>
          <div class = "col-md-6">
            Opening Welcome
          </div>
        </div>
        <div class = "row">
          <div class = "col-md-6">
            09:15-09:45AM
          </div>
          <div class = "col-md-6">
            <b>Session 1 Title</b><br />
            <i>Speaker Name</i>
          </div>
        </div>
        <div class = "row">
          <div class = "col-md-6">
            08:00-09:00AM
          </div>
          <div class = "col-md-6">
            Registration, Breakfast, Booths Open
          </div>
        </div>
        <div class = "row">
          <div class = "col-md-6">
            08:00-09:00AM
          </div>
          <div class = "col-md-6">
            Registration, Breakfast, Booths Open
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="accordion">{{- dateFormat "January 2, 2006" $e.enddate -}}</button>
  <div class="panel">
    <div class = "row">
      <div class = "col-md-4"><!-- first column -->
        <div class = "row">
          <div class = "col-md-6">
            08:00-09:00AM
          </div>
          <div class = "col-md-6">
            Registration, Breakfast, Booths Open
          </div>
        </div>
        <div class = "row">
          <div class = "col-md-6">
            09:00-09:15AM
          </div>
          <div class = "col-md-6">
            Opening Welcome
          </div>
        </div>
        <div class = "row">
          <div class = "col-md-6">
            09:15-09:45AM
          </div>
          <div class = "col-md-6">
            <b>Session 1 Title</b><br />
            <i>Speaker Name</i>
          </div>
        </div>
        <div class = "row">
          <div class = "col-md-6">
            08:00-09:00AM
          </div>
          <div class = "col-md-6">
            Registration, Breakfast, Booths Open
          </div>
        </div>
        <div class = "row">
          <div class = "col-md-6">
            08:00-09:00AM
          </div>
          <div class = "col-md-6">
            Registration, Breakfast, Booths Open
          </div>
        </div>
      </div>
      <div class = "col-md-4">
        <div class = "row">
          <div class = "col-md-6">
            08:00-09:00AM
          </div>
          <div class = "col-md-6">
            Registration, Breakfast, Booths Open
          </div>
        </div>
        <div class = "row">
          <div class = "col-md-6">
            09:00-09:15AM
          </div>
          <div class = "col-md-6">
            Opening Welcome
          </div>
        </div>
        <div class = "row">
          <div class = "col-md-6">
            09:15-09:45AM
          </div>
          <div class = "col-md-6">
            <b>Session 1 Title</b><br />
            <i>Speaker Name</i>
          </div>
        </div>
        <div class = "row">
          <div class = "col-md-6">
            08:00-09:00AM
          </div>
          <div class = "col-md-6">
            Registration, Breakfast, Booths Open
          </div>
        </div>
        <div class = "row">
          <div class = "col-md-6">
            08:00-09:00AM
          </div>
          <div class = "col-md-6">
            Registration, Breakfast, Booths Open
          </div>
        </div>
      </div>
    </div>
  </div>
<div class = "row">
  <div class = "col-md-12">
    <h3>Ignite Sessions</h3>
  </div>
</div>
<div class = "row">
  <div class = "col-md-6">
    <h4>August 30, 2016</h4>
    <div class = "row">
      <div class = "col-md-4">
        <ul>
          <li>
            Ignite number 1<br />
            Hello
          </li>
          <li>
            Ignite number 2<br />
            Hello
          </li>
          <li>
            Ignite number 2<br />
            Hello
          </li>
          <li>
            Ignite number 2<br />
            Hello
          </li>
        </ul>
      </div>
      <div class = "col-md-4">
        <ul>
          <li>
            Ignite number 1<br />
            Hello
          </li>
          <li>
            Ignite number 2<br />
            Hello
          </li>
          <li>
            Ignite number 2<br />
            Hello
          </li>
          <li>
            Ignite number 2<br />
            Hello
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class = "col-md-6">
    <h4>August 31, 2016</h4>
    <div class = "row">
      <div class = "col-md-6">
        <ul>
          <li>
            Ignite number 1<br />
            Hello
          </li>
          <li>
            Ignite number 2<br />
            Hello
          </li>
          <li>
            Ignite number 2<br />
            Hello
          </li>
          <li>
            Ignite number 2<br />
            Hello
          </li>
        </ul>
      </div>
      <div class = "col-md-6">
        <ul>
          <li>
            Ignite number 1<br />
            Hello
          </li>
          <li>
            Ignite number 2<br />
            Hello
          </li>
          <li>
            Ignite number 2<br />
            Hello
          </li>
          <li>
            Ignite number 2<br />
            Hello
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>




{{ end }}
