{{ define "main" }}

    <div class="row">
        <div class="col-md-12">
          <div class="embed-responsive embed-responsive-16by9">
              <div id="map_canvas" class="embed-responsive-item"></div>
          </div>
        </div>
    </div>

    {{ $.Scratch.Add "i" 1 }}
    <div class="row">
        {{- range sort $.Site.Data.events "startdate" -}}
          {{- if .startdate -}}
            {{- if ge (dateFormat "2006-01-02" .enddate) (dateFormat "2006-01-02" ($.Now.Format "2006-01-02")) -}}
                <div class="col-md-3 homepage-grid-col">
                  <a href = "/events/{{ .name }}">
                    {{- if .event_logo_square }}
                      {{- if ne .event_logo_square "" }}
                        <img src = "/events/{{ .name }}/{{ .event_logo_square }}" class="img-fluid" alt="DevOpsDays {{ .city }}"/>

                      {{- end -}}
                      {{- else -}}
                        <img src="/img/event-logo-default.png" class="img-fluid" alt="DevOpsDays {{ .city }}"/>
                    {{- end -}}
                  </a>
                    <br/>
                    <span class = "homepage-grid-date">
                      {{- dateFormat "Jan 2" .startdate -}}
                    &nbsp;-&nbsp;
                    {{-  dateFormat "Jan 2, 2006" .enddate -}}<br/>
                  </span>
                    <span class="homepage-grid-city"><a href = "/events/{{ .name }}">{{ .city }}</a></span>
                </div>
                {{- if modBool ($.Scratch.Get "i") 4 -}}
                  </div>
                  <div class="row">
                {{- end -}}
                {{ $.Scratch.Add "i" 1 }}
            {{- end -}}
        {{- end -}}
        {{- end -}}
    </div>
    <div id="share"></div>

{{- end -}}
