{{ define "main" }}

    <div class="row">
        <div class="col-md-12">
          <div class="embed-responsive embed-responsive-16by9">
              <div id="map_canvas" class="embed-responsive-item"></div>
          </div>
        </div>
    </div>
    {{ $.Scratch.Add "i" 1 }}
    <div class="row">
        {{- range sort $.Site.Data.events "startdate" -}}
          {{- if .startdate -}}
            {{- if ge (dateFormat "2006-01-02" .startdate) (dateFormat "2006-01-02" ($.Now.Format "2006-01-02")) -}}
                {{ $.Scratch.Set "city" .city }}
                {{ $.Scratch.Set "year" .year }}
                {{ $.Scratch.Set "logo" "unset" }}
                <div class="col-md-3 homepage-grid-col">
                  <a href = "/events/{{ .name }}">
                    {{ $.Scratch.Set "subdir" .name }}
                    {{ $.Scratch.Set "contentdir" (printf "static/events/%s/" ($.Scratch.Get "subdir")) }}
                    {{- range (readDir "static/events") -}}
                        {{- if eq .Name ($.Scratch.Get "subdir") -}}
                            {{- range (readDir ($.Scratch.Get "contentdir")) -}}
                                {{- if eq .Name "logo-square.png" -}}
                                    <img src="{{ printf ("/events/%s/logo-square.png") ($.Scratch.Get "subdir")}}" class="img-fluid"/>
                                    {{ $.Scratch.Set "logo" "set" }}
                                {{- end -}}
                            {{- end -}}
                        {{- end -}}
                    {{- end -}}
                    {{- if ne ($.Scratch.Get "logo") "set" -}}
                        <img src="/img/event-logo-default.png" class="img-fluid"/>
                    {{- end -}}
                  </a>
                    <br/>
                    <span class = "homepage-grid-date">
                      {{- dateFormat "Jan 2" .startdate -}}
                    &nbsp;-&nbsp;
                    {{-  dateFormat "Jan 2, 2006" .enddate -}}<br/>
                  </span>
                    <span class="homepage-grid-city">{{ .city }}</span>
                    <br/>
                    {{- if .description -}}
                        {{- if ne .description "" -}}
                            <span class="homepage-grid-desc">{{ .description | markdownify }}</span>
                        {{- end -}}
                    {{- end -}}
                </div>
                {{- if modBool ($.Scratch.Get "i") 4 -}}
                  </div>
                  <div class="row">
                {{- end -}}
                {{ $.Scratch.Add "i" 1 }}
            {{- end -}}
        {{- end -}}
        {{- end -}}
    </div>
{{- end -}}
