
html {
  font-size: 14px;
  line-height: 1.4;
}

body {
  font-size: 1em;
}

.event-logo-homepage {
    position:relative;
    padding: 0;
    margin-bottom: 20px;
    margin-top: 10px;

}

/* set a max-width for horizontal fluid layout and make it centered */
.container-fluid {
  max-width: 1600px; /* or 950px */
}

/* Navigation */

.nav-item {
  font-family: 'Roboto', sans-serif;
  color: #0082AB;
}

.nav-link {
  color: #0082AB;
}

.global-navigation {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #0082AB;
  font-size: .9em;
  text-transform: uppercase;
}

.navbar>li>a{
  color: red;
}

.event-navigation {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 9pt;
  // color: #000000;
  color: green;
  text-transform: uppercase;
}

.navbar-light {
  background-color:transparent !important;
  border-color:transparent;
  background-image:none;
  box-shadow:none;
}

/* Left navigation */
/* TODO: all of these left-nav elements can probably be collapsed */
.left-nav-navs {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 9pt;
  text-transform: uppercase;
  color: #000000;
}

.left-nav-months {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 9pt;
  text-transform: uppercase;
  color: #000000;
}
/* set the current month style */
.left-nav-months.current {
  font-weight: 900;
  color: #0082AB;
}

.left-nav-year {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 18pt;
  color: #000000;
}
.left-nav-event {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 9pt;
  text-transform: capitalize;
}

/* Footer */
.footer-nav {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 11px;
  text-transform: uppercase;
  color: #0082AB;
}

.footer-heading {
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
  color: #000000;
}

h1.footer-heading {
  font-size: 10px;
  font-weight: 700;
}

h2.footer-heading {
  font-size: 10px;
  font-weight: 300i;
}

.footer-content {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 9px;
}
a.footer-content {
  font-weight: 700;
  color: #0082AB;
}


/* Sponsors */

.sponsor-image {

}

/* Homepage */

.homepage-grid-col {
  padding-top: 30px;
  padding-bottom: 30px;
}
.homepage-grid-date {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 9pt;
  text-transform: uppercase;
  color: #000000;
}

.homepage-grid-city {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2em;
  text-transform: capitalize;;
  color: #000000;
}

.homepage-grid-desc {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 9pt;
  color: #000000;
}

/* Program */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

// old googlemaps.css content
.labels {
  color: black;
  background-color: white;
  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 8px;
  font-weight: bold;
  text-align: center;

  border: 1px solid gray;
  white-space: nowrap;
}
