{{ define "main" }}


{{- $path := split $.Source.File.Path .Site.Params.PathSeparator -}}
{{- $event_slug := index $path 1 -}}
{{- $e :=  (index $.Site.Data.events $event_slug) -}}
{{- $city_slug := substr $e.name 5 -}}
{{ $.Scratch.Set "i" 1 }}
{{- partial "events/event_navbar.html" . -}}


<div class = "row">

{{- range where $.Site.Pages "Type" "speaker" -}}
  {{- $speaker_path := split .File.Path .Site.Params.PathSeparator -}}
  {{- $speaker_slug := index $speaker_path 1 -}}
  {{- if eq $speaker_slug $event_slug -}}

  {{ $bio := .Content }}
  {{ $subStr := split $bio " "}}
  {{ $subStrLen := len $subStr }}
  {{ if ge $subStrLen 51 }}
      {{ $subStrTrim := first 51 $subStr }}
      {{ $.Scratch.Set "bio" (delimit ($subStrTrim) " ") }}
      {{ $.Scratch.Add "bio" "..." }}
  {{ else }}
    {{ $.Scratch.Set "bio" .Content }}
  {{ end }}

    <!-- Now we can display stuff! -->
    <div class="col-lg-3 col-md-6">



      <a href = "{{ .Permalink }}">
        {{ if isset .Params "image" }}
          {{ if ne .Params.image "" }}
            <img src = "/events/{{ $event_slug }}/speakers/{{ .Params.image }}" class="speakers-page img-fluid" alt="{{ .Title }}"/><br />
          {{ end }}
          {{ else }}
            <img src = "/img/speaker-default.jpg" class="speakers-page img-fluid"  alt="{{ .Title }}"/><br />
        {{ end }}
      </a>

        <h3 class="card-title speakers-page"><a href = "{{ .Permalink }}">{{ .Title }}</a></h3>
        <span class="speakers-page">{{ ($.Scratch.Get "bio") | markdownify }}</span>

    </div>
    {{ if modBool ($.Scratch.Get "i") 4 }}
      </div>
      <div class="row">
    {{ end }}
    {{ $.Scratch.Add "i" 1 }}
  {{- end -}} <!-- end if eq $speaker_slug $event_slug -->
{{- end -}} <!-- end range where $.Site.Pages "Type" "speaker" -->

</div>

{{ partial "sponsors.html" . }}

{{ end }}
