{{ define "main" }}


{{- $path := split $.Source.File.Path .Site.Params.pathseperator -}}
{{- $event_slug := index $path 1 -}}
{{- $e :=  (index $.Site.Data.events $event_slug) -}}
{{- $city_slug := substr $e.name 5 -}}
{{ $.Scratch.Set "i" 1 }}
{{- partial "event_navbar.html" . -}}


<div class = "row">

{{- range where $.Site.Pages "Type" "speaker" -}}
  {{- $speaker_path := split .File.Path .Site.Params.pathseperator -}}
  {{- $speaker_slug := index $speaker_path 1 -}}
  {{- if eq $speaker_slug $event_slug -}}
    <!-- Now we can display stuff! -->
    <div class="col-md-3">
      <a href = "{{ .Permalink }}">
        {{ if isset .Params "image" }}
          {{ if ne .Params.image "" }}
            <img src = "/events/{{ $event_slug }}/speakers/{{ .Params.image }}" class="img-fluid" alt="speaker image"/><br />
          {{ end }}
          {{ else }}
            <img src = "/img/speaker-default.png" class="img-fluid"  alt="speaker image"/><br />
        {{ end }}
        {{ .Title }}
      </a>
    </div>
    {{ if modBool ($.Scratch.Get "i") 4 }}
      </div>
      <div class="row">
    {{ end }}
    {{ $.Scratch.Add "i" 1 }}
  {{- end -}} <!-- end if eq $speaker_slug $event_slug -->
{{- end -}} <!-- end range where $.Site.Pages "Type" "speaker" -->

</div>

{{ partial "sponsors.html" . }}

{{ end }}
